<dir id="page_wrapper">
	<dir id="profile_image">
		<%= image_tag "profile.jpg" %>
	</dir>

	<dir id="content">
		<h1> It's Mr. Stick Figure</h1>
		<p>
			Venmo meditation forage occupy, af echo park sustainable gastropub cray flannel authentic stumptown tacos hammock. Four loko retro leggings gentrify drinking vinegar. Freegan lyft gluten-free seitan, distillery bitters kale chips disrupt pinterest butcher crucifix chia banjo. Chia craft beer pok pok, hoodie gastropub coloring book small batch vaporware ramps crucifix. Photo booth aesthetic pabst waistcoat stumptown air plant banjo seitan tousled tote bag echo park, farm-to-table plaid subway tile pickled. Intelligentsia la croix retro, food truck vinyl sriracha dreamcatcher literally meh skateboard gastropub fanny pack raw denim hella banh mi. Glossier plaid ennui, meh occupy messenger bag chillwave.
		</p>
	</dir>
</dir>